<h1>ADD EMPLOYEE</h1>
<!-- <div class= -->
<div class="row" ng-controller="addEmployeeController">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
        <label>Name :
            <input class='form-control' type="text" ng-model="name" />
        </label>
        <br/>
        <label>Email :
            <input class='form-control' type="text" ng-model="email" />
        </label>
        <br/>
        <label>Phone:
            <input class='form-control' type="text" ng-model="phone" />
        </label>
        <br/>
        <label>Address:
            <input class='form-control' type="text" ng-model="addr" />
        </label>
        <br/>
        <button class="btn btn-primary" ng-click="addEmployee()">ADD EMPLOYEE!</button>
    </div>
</div>